[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hfst = "*"

[dev-packages]
pytest = "*"
mypy = "*"
pytest-mypy = "*"
black = "*"
requests = "*"
twine = "*"
build = "*"

[scripts]
get-hfstol = "./mini-lfs-client.py UAlbertaALTLab morphodict src/crkeng/resources/fst/crk-relaxed-analyzer-for-dictionary.hfstol"
test = "pytest --mypy src"

[requires]
python_version = "3.12"
